.header{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
  }

.display-name {
  text-align: center;
  font-size: 28px;
}
.row{
    margin-top: 80px;
  }

.centered{
    margin: auto;
    border: 1px solid #eee;
    border-radius: 4px;
    padding-bottom: 10px;
}
